basePath: /
definitions:
  models.Customer:
    properties:
      uuid:
        type: string
    type: object
  rest.ErrorResponse:
    properties:
      code:
        type: integer
      error: {}
      message:
        type: string
    type: object
  rest.Response:
    properties:
      data: {}
      message:
        type: string
    type: object
host: gw.verifire.dev/customer
info:
  contact:
    name: Artem Kostenko
    url: https://github.com/aerosystems
  description: A part of microservice infrastructure, who responsible for customer
    user entity.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Customer Service
  version: 1.0.0
paths:
  /v1/customers:
    get:
      consumes:
      - application/json
      description: Get user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/rest.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.Customer'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/rest.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/rest.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/rest.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/rest.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get user
      tags:
      - users
schemes:
- https
securityDefinitions:
  BearerAuth:
    description: Should contain Access JWT Token, with the Bearer started
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
